<mat-card>
  <mat-card-title>INWORD MANAGEMENT SYSTEM</mat-card-title>

  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input name="email" matInput placeholder="pat@example.com" formControlName="email" required ngModel>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input name="password" matInput [type]="hide ? 'password' : 'text'" formControlName="password" ngModel>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button class="example-full-width" type="submit" mat-raised-button color="primary">Sign In</button>
  </form>
</mat-card> 

