<mat-card>
  <mat-card-title>SignIn</mat-card-title>
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input name="email" matInput placeholder="pat@example.com" formControlName="email" required ngModel>
      <!-- <mat-error *ngIf="loginForm.value.emailControl.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input name="password" matInput [type]="hide ? 'password' : 'text'" formControlName="password" ngModel>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button class="example-full-width" type="submit" mat-raised-button color="primary">Sign In</button>

  </form>

  <!-- <form class="example-form" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input name="email" matInput placeholder="pat@example.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel required>
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea name="password" matInput placeholder="Ex. It makes me feel..." ngModel required></textarea>
    </mat-form-field>

    <button class="example-full-width" type="submit" mat-raised-button color="primary">Sign In</button>

  </form> -->

</mat-card>